.code
{
	width: 95%;
	background-color: #000;
	border: 1px solid #DBDBDB;
	color: #ECECEC;
	font-family: "Courier New", Courier;
	font-size: 9pt;
	text-align: left;
	margin: 10px auto 10px auto;
	padding: 5px 0px 5px 5px;
}
div, p, ol, ul, td, th { color: black; font-family: Verdana; font-size: small; }
div.head { font-size: medium; font-weight: bold; }
div.cr { color: #000066; font-weight: bold; }
p.head { font-weight: bold; }
p.indent { text-indent: 20px }
p.courier { font-family: "Courier New" }
div.indent { text-indent: 20px }
div.indent2 { text-indent: 40px }
div.indentc { text-indent: 40px; font-family: "Courier New" }
ol { list-style-type: upper-roman }
ul { list-style-type: disc }
ul.courier { font-family: "Courier New" }
dl { font-family: "Courier New"; font-size: smaller; text-indent: 40px }
li { margin-bottom : 4px; }
td.node { text-align: center; height: 19px; width: 20% }
td.nodeT { text-align: center; height: 19px; width: 20%; font-weight: bold }
th { text-align: center; height: 24px; font-weight: 100 }
td { height: 16px }
td.tName { text-align: center; background-color: #FFCC66; width: 225 }
td.tFunc { background-color: #D4D0C8; width: 550 }
td.tVer { text-align: center; background-color: #D4D0C8; width: 88 }
td.black { text-align: center; background-color : #000000; }